<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<p>Your question is... <%= @question %></p>
<p>Your coach says... <%= @answer %></p>
<p> <%= link_to "ask again", ask_path %> </p>
